

@media print {
    body * {
      visibility: hidden;
    }
    #printSectionA4Portrait,
    #printSectionA4Portrait * {
      visibility: visible;
    }
    #printSectionA4Portrait {
      position: absolute;
      left: 0;
      top: 0;
      width: 210mm;
      height: 297mm;
      padding: 10px;
      margin: 0;
  
    }

 
      #printSectionA4Landscape,
      #printSectionA4Landscape * {
        visibility: visible;
      }
      #printSectionA4Landscape {
        position: absolute;
        left: 0;
        top: 0;
        width: 297mm;
        height: 210mm;
        padding: 10px;
        margin: 0;
    
      }
  
  }