@import '~bootstrap/dist/css/bootstrap.min.css';
html,body,#root{
  margin: 0;
  padding: 0;
  /* height: auto; */
}




/* #PORTRAIT_PAGE_SIZE_A3{
  
}



#LANDSCAPE_PAGE_SIZE_A3{

} */

.App{
  /* height: auto; */
  background: #f5f5f5;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#LANDSCAPE_PAGE_SIZE_A3{
  /* position: absolute;
  left: 0;
  top: 0; */
  overflow: hidden;
  width: 420mm; 
  height: 297mm;

}
#LANDSCAPE_PAGE_SIZE_A4 {
  /* position: absolute;
  left: 0;
  top: 0; */
  overflow: hidden;
  width: 297mm; 
  height: 210mm;
}

@media print {
  body * {
    visibility: hidden;
  }

  #PORTRAIT_PAGE_SIZE_A4::last-child {
    page-break-after: auto;
}

  #PORTRAIT_PAGE_SIZE_A4,
  #PORTRAIT_PAGE_SIZE_A4 * {
    visibility: visible;
  }
  #PORTRAIT_PAGE_SIZE_A4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    height: 297mm;
    padding: 10px;
    margin: 0;

  }

    #LANDSCAPE_PAGE_SIZE_A4,
    #LANDSCAPE_PAGE_SIZE_A4 * {
      visibility: visible;
    }

    #LANDSCAPE_PAGE_SIZE_A4::last-child {
      page-break-after: auto;
 }
    #LANDSCAPE_PAGE_SIZE_A4 {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 297mm; 
      height: 210mm;
      /* padding: 0px; */
      /* margin: 10px; */
  
    }


    /* A3 */

    /* #PORTRAIT_PAGE_SIZE_A3::last-child {
      page-break-after: auto;
  } */
  
    #PORTRAIT_PAGE_SIZE_A3,
    #PORTRAIT_PAGE_SIZE_A3 * {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      width: 420mm;
      height: 297mm;
    }

  
      #LANDSCAPE_PAGE_SIZE_A3,
      #LANDSCAPE_PAGE_SIZE_A3 * {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 297mm;
        height: 420mm;
        /* padding: 10px;
        margin: 0; */
      }
  
      /* #LANDSCAPE_PAGE_SIZE_A3::last-child {
        page-break-after: auto;
   } */
      #LANDSCAPE_PAGE_SIZE_A3 {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        width: 420mm; 
        height: 297mm;
        /* padding: 0px; */
        /* margin: 10px; */
    
      }
  

}

.sketch-picker {
  box-shadow: none !important;
  background: transparent !important;
}

.btn.btn-link{
  color: #fff;
  text-decoration: none;
}





